<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <table class="nl-container" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td>
                    <!-- Header com Logo -->
                    <table class="row row-1" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="640" style="width: 640px; margin: 0px auto;">
                                        <tbody>
                                            <tr>
                                                <td class="column column-1" width="100%" style="vertical-align: top;">
                                                    <table class="image_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <td class="pad" style="width: 640px;">
                                                                    <div class="alignment" align="center">
                                                                        <div style="max-width: 640px;">
                                                                            <img src="https://d15k2d11r6t6rl.cloudfront.net/pub/bfra/atmrd56y/4ur/ljn/ape/Informe%20Plataforma_1.png" width="640" alt="Pier Cloud" title="Pier Cloud" height="auto" style="display: block; height: auto; border: 0px; width: 640px;">
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Conteúdo Principal (Personalizado) -->
                    <table class="row row-2" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-size: auto;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="640" style="background-size: auto; width: 640px; margin: 0px auto;">
                                        <tbody>
                                            <tr>
                                                <td class="column column-1" width="100%" style="padding-left: 48px; padding-right: 48px; padding-top: 20px; vertical-align: top;">
                                                    <table class="paragraph_block block-1" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="word-break: break-word;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="pad">
                                                                    <div style="direction: ltr; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; letter-spacing: 0px; line-height: 1.5;">
                                                                        <!-- CONTEÚDO PERSONALIZADO COMEÇA AQUI -->
                                                                        {{MAINTENANCE_CONTENT}}
                                                                        <!-- CONTEÚDO PERSONALIZADO TERMINA AQUI -->
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Divider -->
                                                    <table class="divider_block block-2" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <td class="pad">
                                                                    <div class="alignment" align="center">
                                                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid rgb(221, 221, 221);">
                                                                                        <span>&#8202;</span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Informações de Contato -->
                                                    <table class="paragraph_block block-3" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="word-break: break-word;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="pad">
                                                                    <div style="direction: ltr; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; letter-spacing: 0px; line-height: 1.5;">
                                                                        <p style="line-height: inherit; margin: 0px;">
                                                                            Em caso de dúvidas ou necessidade de suporte adicional, a equipe Pier Cloud permanece à disposição por meio do canal 
                                                                            <a href="mailto:support@piercloud.com" style="color: rgb(0, 104, 165);">support@piercloud.com</a>
                                                                            <br><br>
                                                                            Seguimos firmes no compromisso de entregar excelência operacional e valor contínuo em FinOps.
                                                                            <br><br>
                                                                            <span style="font-size: 12px; color: #999;">
                                                                                Não deseja mais receber estas notificações? 
                                                                                <a href="https://status.piercloud.com/unsubscribe?token={{UNSUBSCRIBE_TOKEN}}" style="color: #666; text-decoration: underline;">Cancelar inscrição</a>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Barra Azul -->
                    <table class="row row-3" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-size: auto;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="640" style="background-color: rgb(3, 77, 163); background-image: url('https://d15k2d11r6t6rl.cloudfront.net/pub/bfra/atmrd56y/07m/opf/sbb/Barra%20informe_1.png'); background-repeat: no-repeat; background-size: cover; width: 640px; margin: 0px auto;">
                                        <tbody>
                                            <tr>
                                                <td class="column column-1" width="100%" style="padding: 20px 48px; vertical-align: top;">
                                                    <table class="heading_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <td class="pad" style="text-align: center; width: 544px;">
                                                                    <h1 style="margin: 0px; color: rgb(119, 71, 255); direction: ltr; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1px; line-height: 1.2; text-align: left;">
                                                                        <span class="tinyMce-placeholder" style="word-break: break-word;">.<br></span>
                                                                    </h1>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Rodapé -->
                    <table class="row row-4" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="640" style="background-color: rgb(243, 242, 243); width: 640px; margin: 0px auto;">
                                        <tbody>
                                            <tr>
                                                <td class="column column-1" width="100%" style="vertical-align: top;">
                                                    <div class="spacer_block block-1" style="height: 1px; line-height: 1px; font-size: 1px;">&#8202;</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
